# 虚拟环境
.venv/
venv/

# 环境配置文件
.env

# PyCharm
.idea/

# VS & VSCode
.vscode/
.vs/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# 生成的代码
output/
out/

# 测试用的Scratch文件
*.sb3

# 生成目录
dist/
build/

# 缓存目录
.pytest_cache/
.mypy_cache/
.ruff_cache/
